{
    "presets": [
      "module:metro-react-native-babel-preset"
    ],
    "plugins": [
      "@babel/transform-react-jsx-source",
      "@babel/plugin-proposal-class-properties",
      ["module-resolver", {
        "root": ["./src", "./src/components", "./src/libs"],
        "extensions": [".js", ".ios.js", ".android.js", ".style.js"]
      }]
    ]
  }
  